In [1]:
a=7
type(a)

int

In [2]:
b=3.0
type(b)

float

In [3]:
c=a+b
print(c)
print(type(c))

10.0
<class 'float'>

In [4]:
d=a*b
print(type(d))
print(d)

<class 'float'>
21.0

In [5]:
!pip install numpy
import numpy as np
B = np.random.rand(1000000)
%timeit sum(B)
%timeit np.sum(B)

Requirement already satisfied: numpy in c:\users\kiit\anaconda3\envs\ml_dec\lib\site-packages (1.22.1)
195 ms ± 2.68 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
1.92 ms ± 173 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:

%%timeit
S=0
for x in B:
    S = S + x
print(S)

499694.9491596285
499694.9491596285
499694.9491596285
499694.9491596285
499694.9491596285
499694.9491596285
499694.9491596285
499694.9491596285
268 ms ± 13.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
price = float(input("enter the price"))
print("price = ",price)
print("not a number")

enter the price 56

price =  56.0
not a number

In [8]:
price = input("enter the price : ")
try :
    price=float(price)
    print("price = ",price)
except ValueError:
    print("not a number")

enter the price :  5

price =  5.0

In [9]:
price = input("enter the price:")
print(type(price))
price=int(price)
print("price is:",price)
print(type(price))

enter the price: 45

<class 'str'>
price is: 45
<class 'int'>

In [10]:
c = 'hi' + str(10)
print(c)
type(c)

hi10

str

In [11]:
len(c)

4

In [12]:
a = 20
b = 100
if b>a:
    print("b is greater than a")
print(a)
print(b)

b is greater than a
20
100

In [13]:
x,y=10,12
if x>y:
    st="x is greater than y"
elif x==y:
    st="x is equal to y"
else:
    st="y is greater than x"
print(st)

y is greater than x

In [14]:
list=[1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [15]:
list=[1,2,3,4,5]
for i in list:
    print(i,end=" ")

1 2 3 4 5

In [16]:
while(i<10):
    i=i+1
    print(i)

6
7
8
9
10

In [17]:
li = range(3,7)
li

range(3, 7)

In [18]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [19]:
for i in range(1,20,4):
    print(i,end=" ")

1 5 9 13 17

In [20]:
for i in range(10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
li=[1,2,3,4,5,6,7]
length = len(li)
while length >= 3:
    print(length)
    if length <= 5:
        break
    length = length - 1

7
6
5

In [22]:
length = len(li)
while length >= 3:    
    length = length - 1 
    if length <= 5:
        continue
    print(length)

6

In [23]:
li = [1,2,3,4,5,6,7]
for i in li:
    print(i)

1
2
3
4
5
6
7

In [24]:
li = [1,2,3,4,5,6,7]
j = 0
for i in li:
    for i in li:
        i=i+1
        j=j+1
    print(j)
print(j)

7
14
21
28
35
42
49
49

In [25]:
x = int(input("x? "))
y = int(input("y? "))
if x < y: 
    print('x is less than y') 
elif x > y: 
    print('x is greater than y') 
else: 
    print('x and y are equal')

x?  5
y?  6

x is less than y

In [26]:
highest = 0
for value in [9, 41, 12, 3, 74, 15] :
    if value > highest:
        highest = value 
        
print('highest' , highest)

highest 74

In [27]:
list = [9, 41, 12, 3, 74, 15]
print(list[4])

74

In [28]:
list = [9, 41, 12, 3, 74, 15]
smallest = list[0]
for i in list :
    if i<smallest:
        smallest=i
print("smallest = ",smallest)

smallest =  3

In [29]:
smallest = None
for value in [9, 41, 12, 3, 74, 15,103,305, 7 , 102.5, 167.44,1] : 
     if smallest is None : 
            smallest = value   
     elif value < smallest : 
         smallest = value   
     #print(smallest, value)
print('After', smallest)

After 1

In [33]:
a=10
while a < 20 :
    a+=1
    if a==15 :
        continue
    print(a)

11
12
13
14
16
17
18
19
20

In [34]:
def average(numbers):
    total = 0
    for num in numbers:
        total = total + num
    avg = total/len(numbers)
    return avg, total
def main():
    prices = [29, 21, 55, 10, 12,16,190,347,1024, 9403, 125, 341942, 20394, 109236, 3470, 5732, 1293, 10039,5783]
    result, tot = average(prices)
    print(tot)
    print(result)
main()

509121
26795.842105263157

In [35]:
def average(price):
    total=0
    for i in price:
        total=total+i
    avg=total/len(price)
    return avg,total
def main():
    price=[10,15,20,25,30]
    avg,total=average(price)
    print(total)
    print(avg)
main()

100
20.0