In [1]:
a = ['spam', 'eggs', 100, 1234, 2*2]
print(a[0])
print(a[:4])

spam
['spam', 'eggs', 100, 1234]

In [2]:
a[2]=a[2]+26
print(a)

['spam', 'eggs', 126, 1234, 4]

In [3]:
a[0:2] = [1,12]
print(a)

[1, 12, 126, 1234, 4]

In [4]:
a[0:1] = []
print(a)

[12, 126, 1234, 4]

In [5]:
lis = [ 1, [5, 6], 7]
print(lis[1][1])

6

In [6]:
list = range(3)
print(list)

range(0, 3)

In [7]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [8]:
for i in range(len(friends)) :
    #friend = friends[i]
    print('Happy New Year:',  friends[i])

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [9]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

['Sally', 'Joseph', 'Glenn']
Joseph

In [10]:
t = [9, 41, 12, 3, 74, 15]
t[::-2]

[15, 3, 41]

In [14]:
fruit = 'Banana'
#fruit[0] = 'b'
x = fruit.lower()
print(x)

banana

In [17]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

Enter a number:  1
Enter a number:  2
Enter a number:  3
Enter a number:  4
Enter a number:  5
Enter a number:  done

Average: 3.0

In [18]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [19]:
abc = 'With three words'
stuff = abc.split('h')
print(stuff)
print(len(stuff))
print(stuff[0])

['Wit', ' t', 'ree words']
3
Wit

In [20]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
print(email)
pieces = email.split('@')
print(pieces[1])

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']
salman.amir@gmail.com
gmail.com

In [23]:
d = { "foo" : 1, "bar" : 2 }
print(d["bar"])   # 2
some_dict = {}
some_dict["foo"] = "yow!"
some_dict["bar"] = "Dog!"
print(some_dict.keys()) # ["foo"]

2
dict_keys(['foo', 'bar'])

In [25]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [26]:
for i in range(len(friends)) :
    print(len(friends))
    print(i)
    friend = friends[i]
    print('Happy New Year:',  friend)

3
0
Happy New Year: Joseph
3
1
Happy New Year: Glenn
3
2
Happy New Year: Sally

In [30]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1

Enter a number:  1
Enter a number:  2
Enter a number:  3
Enter a number:  4
Enter a number:  5
Enter a number:  done

In [31]:
print(count)

5

In [32]:
print(total)
average = total / count
print('Average:', average)

15.0
Average: 3.0

In [33]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
words

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']

In [34]:
email = words[1]
print(email)

salman.amir@gmail.com

In [35]:
pieces = email.split('@')
print(pieces[1])

gmail.com

In [36]:
a = (123, 54, 92) # tuple of 3 integers
b = () # empty tuple
c = ("Ala",) # tuple of a single string (note the trailing ",")
d = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(123, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)

In [37]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

(1.2, -0.3, 0.9)

In [40]:
l = 2, 3, "Hi", [1,2,3] # tuple packing
print('t is', l)
x, y, z, a = l # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)
print('a is', a)

t is (2, 3, 'Hi', [1, 2, 3])
x is 2
y is 3
z is Hi
a is [1, 2, 3]

In [42]:
print(type(l))
l[3]

<class 'tuple'>

[1, 2, 3]

In [43]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

[1, 3, 9, 'Py', 217.213]
['Python']
[]

In [44]:
matrix = [[input(),input()], [input(),input()]]
print(matrix)

 1
 s
 we
 56.98

[['1', 's'], ['we', '56.98']]

In [47]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [123, 54, 92, 87, 33]
x[-1] is 33

In [48]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

In [49]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

123 in [123, 54, 92, 87, 33] True
234 in (123, 54, 92, 87, 33) False
999 not in [123, 54, 92, 87, 33] True

In [50]:
a = [1, 2, 3, 4, 5]

a[2:]

[3, 4, 5]

In [51]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

length of t is 5
number of 33s in x is 1

In [52]:
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

[123, 54, 92, 87, 33]
[123, 54, 33, 87, 33]

In [53]:
t = (123, 54, 92, 87, 33)
print(t)
t[1] = 4

(123, 54, 92, 87, 33)

TypeError: 'tuple' object does not support item assignment

In [54]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

In [55]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

In [56]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

In [59]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87, 33]
[54, 92, 87, 33]

In [60]:
a = [1,2,3]
b = [4,5,6]
c = "Hi"
a.extend(b)
print(a)
a.append(b)
print(a)
a.append(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]
[1, 2, 3, 4, 5, 6, [4, 5, 6], 'Hi']

In [61]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [62]:
a = [1, 2, 3, 4, 5, 6]
a[1] = [9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9]
print(a)

[1, ([9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9]), 3, 4, 5, 6]

In [65]:
a = [1, 3, 5,6, 4, 2]
a.reverse()
print(a)
b = []
b = a.sort()
print(a)
print(b)

[2, 4, 6, 5, 3, 1]
[1, 2, 3, 4, 5, 6]
None

In [66]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

[2, 5, 7, 1]
[1, 2, 5, 7]

In [67]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABBC" in text)
print(len(text))

A
G
ABCDEF
True
False
8

In [68]:
text = "ABCDEFGH"
text[0:2] = "CCC"

TypeError: 'str' object does not support item assignment

In [69]:
string = "ABCDEDCBCDEA"
index = string.find("CDE")
print("CDE is at position:", index)
index = string.rfind("CDE")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:", index)

CDE is at position: 2
CDE is at position: 8
The last C is at position: 8

In [70]:
s = "     My name is Python     "
print(len(s), ".", s, ".")
print(len(s.rstrip()), ".", s.rstrip(), ".")
print(len(s.lstrip()), ".", s.lstrip(), ".")
print(len(s.strip()), ".", s.strip(),".")

27 .      My name is Python      .
22 .      My name is Python .
22 . My name is Python      .
17 . My name is Python .

In [73]:
string = "My name is Python"
words = string.split(" ")
print(words)
print("|".join(words))

['My', 'name', 'is', 'Python']
My|name|is|Python

In [74]:
language = "Python"
version = 3.6
print(language + str(version))

Python3.6

In [75]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

{1, 2, 3}
set()

In [76]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

In [77]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

In [78]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

Union: {2, 4, 5, 6, 7, 8, 10}
Intersection: {4, 6}

In [79]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(sports)

sports['C']

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton'}

'Hockey'

In [80]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("A represents", sports["A"])
print("G represents", sports["G"])

A represents Cricket

KeyError: 'G'

In [81]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports["N"])

KeyError: 'N'

In [82]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports.get("N"))
print("With a default value:", sports.get("N", "asfasfasf"))

What about N? None
With a default value: asfasfasf

In [83]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"T" in sports

False

In [84]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"Y" not in sports

True

In [85]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(len(sports))

4

In [86]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
sports['E'] = 'Kabaddi'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [87]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
sports['F'] = 'Volley Ball'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi', 'F': 'Volley Ball'}

In [88]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi", 'F': 'Volley Ball'}
del sports['F']
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [90]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.keys()))

TypeError: 'range' object is not callable

In [91]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.values()))

TypeError: 'range' object is not callable