In [1]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]
print(my_list == your_list)

False

In [2]:
my_dict = {1:1, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

True

In [3]:
for num in [1,2,3,4,5]:
    print(num**2)

1
4
9
16
25

In [4]:
for num in 'computer':
    print(num)

c
o
m
p
u
t
e
r

In [5]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0]
print(r1)

0.7830529593461

In [6]:
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
print(r2)

3

In [7]:
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r3)

724

In [8]:
menu_prices = {'Knackered Spam': 0.50, 'Pip pip Spam': 1.50, 'Squidgy Spam': 2.50, 'Smashing Spam': 3.50 }
for name, price in menu_prices.items():
    print(name, ': $', price)

Knackered Spam : $ 0.5
Pip pip Spam : $ 1.5
Squidgy Spam : $ 2.5
Smashing Spam : $ 3.5

In [9]:
n= int(input("Enter the Number"))
for num in range(1,n+1,1):
    print(num)

Enter the Number 5

1
2
3
4
5

In [10]:
n = 1
num= int(input("Enter the Number"))
while n < num :
    n+=1
    print(n)
    n+=1

Enter the Number 10

2
4
6
8
10

In [11]:
x = int(input("Enter the Number X"))
y = int(input("Enter the Number y"))
if x < y: 
    print('x is less than y') 
elif x > y: 
    print('x is greater than y') 
else: 
    print('x and y are equal')

Enter the Number X 10
Enter the Number y 5

x is greater than y

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
for x in numbers:
    print(x)
print(x)

1
2
3
4
5
6
7
8
8

In [13]:
name = 'Kochi Python'
for character in name:
    print(character)

K
o
c
h
i

P
y
t
h
o
n

In [14]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}

for x in sports:
    print(x, sports[x])

A Cricket
B Football
C Hockey
D Badminton
E Kabaddi

In [15]:
total = 0
values = [1, 2, 4, 8, 16]

for v in values:
    total = total + v
    # total += v
    print(total)

print(total)

1
3
7
15
31
31

In [18]:
markList = {
    'Tintumon': 22, 
    'Dundumol': 86, 
    'Dingan': 69, 
    'Luttapi': 45
}

for person in markList:
    if markList[person] < 45:
        print(person, " : Failed")
        
    elif markList.get(person) > 45:
        print(person, " : Passed")
        
    else:
        print(person, ' : Just Pass' )

Tintumon  : Failed
Dundumol  : Passed
Dingan  : Passed
Luttapi  : Just Pass

In [19]:
value = 0.25
while value < 8:
    value = value * 2
    print(value)
    break

print("final value:", value)

0.5
final value: 0.5

In [20]:
#Sum of positive integers in a list
values = [10, -5, 3, -1, 7]

total = 0
for v in values:
    if v < 0:
        continue # Skip this iteration   
    total += v

print(total)

20

In [21]:
#Print from 1 - 7
for n in range(1,10):
    if n % 8 == 0:
        break            # Quit looping at this point
    else:
        print(n)

1
2
3
4
5
6
7

In [22]:
print(list(range(10)))

print(list(range(5, 10)))

print(list(range(0, 10, 3)))

list(range(7, 2, -1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 3, 6, 9]

[7, 6, 5, 4, 3]

In [26]:
for x in range(8):
    print(x*x)

0
1
4
9
16
25
36
49

In [27]:
squares = []
for x in range(8):
    s = x*x
    squares.append(s)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [28]:
alphabets = ['A', 'B', 'C', 'D', 'E']

for index in range(len(alphabets)):
    print(index, alphabets[index])

0 A
1 B
2 C
3 D
4 E

In [29]:
alphabets = ['A', 'B', 'C', 'D', 'E']
more_alphabets = ['F', 'G', 'H', 'I', 'J']

for index in range(len(alphabets)):
    print(index, alphabets[index], more_alphabets[index])

0 A F
1 B G
2 C H
3 D I
4 E J

In [30]:
letters = ['A','B','C','D']
for index, letter in enumerate(letters):
    print(index, letter)

0 A
1 B
2 C
3 D

In [31]:
numbered_letters = list(enumerate(letters))
print(numbered_letters)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [32]:
city_pops = {
    'London': 8200000,
    'Cambridge': 130000,
    'Edinburgh': 420000,
    'Glasgow': 1200000
}

big_cities = []
for city in city_pops:
    if city_pops[city] >= 1000000:
         big_cities.append(city)

print(big_cities)

['London', 'Glasgow']

In [33]:
total = 0
for city in city_pops:
    total += city_pops[city]
print("total population:", total)

total population: 9950000

In [34]:
pops = list(city_pops.values())
print("total population:", sum(pops))

total population: 9950000