In [3]:
print("Let's insert a %s." %'string')

Let's insert a string.

In [9]:
print("let's add some %s here and some more %s here." %('text','text'))

let's add some text here and some more text here.

In [10]:
x,y = 'some','more'
print("put %s text here and some %s." %(x,y))

put some text here and some more.

In [15]:
print("her name is %s" %'lucy')
print("her name is %r" %'lucy')

her name is lucy
her name is 'lucy'

In [17]:
print("her name is \t%s" %'lucy')
print("her name is %r" %'\tlucy')

her name is 	lucy
her name is '\tlucy'

In [19]:
print("today's temperature is %s" %15.25)
print("today's temperature is %d" %15.25)

today's temperature is 15.25
today's temperature is 15

In [28]:
print("floating point numbers are %5.2f" % 754321.999)
print("floating point numbers are %2.5f" % 754.999)
print("floating point numbers are %5.0f" % 754321.999)
print("floating point numbers are %-5.2f" % 754321.999)
print("floating point numbers are %15.2f" % 754321.999)

floating point numbers are 754322.00
floating point numbers are 754.99900
floating point numbers are 754322
floating point numbers are 754322.00
floating point numbers are       754322.00

In [36]:
print("first : %r second : %2.2f third : %s"%('hi',3.1417,'bye'))

first : 'hi' second : 3.14 third : bye

In [43]:
print("print a {} and also print a {} ".format('string','integer'))

print a string and also print a integer

In [44]:
print("A {2} {1} {0} ".format('fox','brown','quick'))

A quick brown fox

In [45]:
print("A {a} {b} {c} ".format(c='fox',b='brown',a='quick'))

A quick brown fox

In [49]:
print("A %s saved is %s earned" %('penny','penny'))
print("A {p} saved is {p} earned".format(p='penny'))

A penny saved is penny earned
A penny saved is penny earned

In [4]:
print('{0:8} | {1:1}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:2}'.format('Orangess', 10))

Fruit    | Quantity
Apples   |       3.0
Orangess | 10

In [7]:
print('{0:<8} | {1:^8} | {2:>8}'.format('left','center','right'))
print('{0:<8} | {1:^8} | {2:>8}'.format('11','22','33'))

left     |  center  |    right
11       |    22    |       33

In [9]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('left','center','right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('11','22','33'))

left==== | -center- | ...right
11====== | ---22--- | ......33

In [12]:
print('This is 10 character with 2 decimal %10.2f' %13.567)
print('This is 10 character with 2 decimal {0:10.2f}'.format(13.567))

This is 10 character with 2 decimal      13.57
This is 10 character with 2 decimal      13.57

In [23]:
name = 'fred'
print('his name is %s' %name)
print(f'his name is {name}')
print(f'his name is {name!r}')

his name is fred
his name is fred
his name is 'fred'

In [28]:
num = 13.456789
print("my 10 characters with 4 decimal:{0:10.4f}".format(num))
print(f"my 10 characters with 4 decimal:{num:{10}.{6}}")

my 10 characters with 4 decimal:   13.4568
my 10 characters with 4 decimal:   13.4568

In [29]:
num = 13.45
print("my 10 characters with 4 decimal:{0:10.4f}".format(num))
print(f"my 10 characters with 4 decimal:{num:{10}.{4}}")

my 10 characters with 4 decimal:   13.4500
my 10 characters with 4 decimal:     13.45

In [30]:
num = 13.456789
print("my 10 characters with 4 decimal:{0:10.4f}".format(num))
print(f"my 10 characters with 4 decimal:{num:10.4f}")

my 10 characters with 4 decimal:   13.4568
my 10 characters with 4 decimal:   13.4568